![umsa.png]()

# **<font color="DarkBlue">Ejercicios de estructuras de datos y secuencias 💗</font>**

<p align="center">
<img src="https://pypi.org/static/images/logo-small.8998e9d1.svg" width="90" height="">
</p>

## **<font color="DarkBlue">Ejercicio 1: Productos y Precios</font>**

Tarea: Tienes una lista de productos y sus precios almacenados en tuplas. Imprime el nombre del producto y su precio.

In [ ]:
productos = [("Laptop", 1000), ("Teléfono", 500), ("Tablet", 300)]

In [ ]:
# Completa el código...
for ...:
    print(f"Producto: {...}, Precio: ${...}")

## **<font color="DarkBlue">Ejercicio 2: Ventas de la Semana</font>**

Tarea: Dada una lista de tuplas donde cada tupla contiene el nombre de un producto y el número de unidades vendidas, calcula el total de unidades vendidas.

In [ ]:
ventas_semanales = [("Laptop", 10), ("Teléfono", 15), ("Tablet", 7)]

In [ ]:
# Completa el código
total_unidades_vendidas = ...

In [ ]:
# Completa el código para imprimir
print(...)

## **<font color="DarkBlue">Ejercicio 3: Lista de Clientes</font>**

Tarea: Crea una lista de clientes y agrega tres nombres nuevos a la lista. Luego, imprime la lista completa de clientes.

In [ ]:
clientes = ["Ana", "Luis", "Marta"]
nuevos_clientes = ["Juan", "Pedro", "Maria"]

In [ ]:
# Completa el código para agregar los nuevos clientes a la lista clientes
clientes

In [ ]:
# Completa el código
print(...)

## **<font color="DarkBlue">Ejercicio 4: Actualizar Inventario</font>**

Tarea: Dada una lista de productos en inventario, elimina un producto específico (por ejemplo, "Tablet") y luego imprime la lista actualizada.

In [ ]:
inventario = ["Laptop", "Teléfono", "Tablet", "Monitor"]

In [ ]:
# Completa el código
inventario

In [ ]:
# Completa el código
print(...)

## **<font color="DarkBlue">Ejercicio 5: Información de Empleados</font>**

Tarea: Crea un diccionario con la información de tres empleados (nombre, edad, puesto). Imprime el nombre y puesto de cada empleado.

In [ ]:
empleados = {
    "Ana": {"edad": 30, "puesto": "Gerente"},
    "Luis": {"edad": 25, "puesto": "Analista"},
    "Marta": {"edad": 28, "puesto": "Desarrolladora"}}

In [ ]:
# Completa el código
for ... in empleados.items():
    print(f"Empleado: {...}, Puesto: {...['puesto']}")

## **<font color="DarkBlue">Ejercicio 6: Actualizar Precios</font>**

Tarea: Dado un diccionario con productos y sus precios, actualiza el precio de un producto específico (por ejemplo, "Teléfono") y luego imprime el diccionario actualizado.

In [ ]:
precios = {"Laptop": 1000, "Teléfono": 500, "Tablet": 300}

In [ ]:
# Completa el código
precios["Teléfono"] = ...

In [ ]:
# Completa el código
print(...)

## **<font color="DarkBlue">Ejercicio 7: Clientes Únicos</font>**

Tarea: Dadas dos listas de clientes (clientes que compraron en enero y en febrero), crea conjuntos para cada lista y encuentra los clientes que compraron en ambos meses.

In [ ]:
enero = {"Ana", "Luis", "Marta", "Fernando", "Gustavo", "Emiliano", "Sofia"}
febrero = {"Marta", "Carlos", "Luis", "Sofia", "Fernanda", "Augusto", "Juan"}

In [ ]:
# Completa el código
clientes_comunes = ...

In [ ]:
# Completa el código
print(...)

## **<font color="DarkBlue">Ejercicio 8: Nuevos Clientes</font>**

Tarea: Dadas dos listas de clientes (clientes que compraron en enero y en febrero), encuentra los clientes que solo compraron en febrero.

In [ ]:
enero = {"Ana", "Luis", "Marta", "Fernando", "Gustavo", "Ludmila", "Sol"}
febrero = {"Marta", "Carlos", "Luis", "Fernando", "Cristian", "Ludmila"}

In [ ]:
# Completa el código
nuevos_clientes = ...

In [ ]:
# Completa el código
print(...)

## **<font color="DarkBlue">Ejercicio 9: Enumerar Productos</font>**

Tarea: Dada una lista de productos, enumera cada producto comenzando desde el número 1 e imprime la lista enumerada.

In [ ]:
productos = ["Laptop", "Teléfono", "Tablet", "Notebook", "Pc", "Teclado", "Impresora"]

In [ ]:
# Completa el código
for ... in enumerate(...):
    print(...)

## **<font color="DarkBlue">Ejercicio 10: Ordenar Ventas</font>**

Tarea: Dada una lista de ventas (donde cada venta es un diccionario con el nombre del producto y la cantidad vendida), ordena la lista por la cantidad vendida en orden descendente.

In [ ]:
ventas = [{"producto": "Laptop", "cantidad": 10}, {"producto": "Teléfono", "cantidad": 15}, {"producto": "Tablet", "cantidad": 7}]

In [ ]:
# Completa el código
ventas_ordenadas = sorted(... , key=lambda x: x["cantidad"], reverse= ...)

In [ ]:
# Completa el código
print(...)

## **<font color="DarkBlue">Ejercicio 11: Invertir Lista de Productos</font>**

Tarea: Dada una lista de productos, invierte el orden de los productos en la lista e imprime la lista invertida.

In [ ]:
productos = ["Laptop", "Teléfono", "Tablet", "Notebook", "Impresora"]

In [ ]:
# Completa el código
productos_invertidos = ...

In [ ]:
# Completa el código
print(...)

## **<font color="DarkBlue">Ejercicio 12: Combinar Listas de Productos y Precios</font>**

Tarea: Dadas dos listas, una con nombres de productos y otra con sus precios, combina ambas listas en una lista de tuplas y luego imprime cada producto con su precio.

In [ ]:
productos = ["Laptop", "Teléfono", "Tablet"]
precios = [1000, 500, 300]

In [ ]:
# Completa el código
productos_precios = list(zip(...))

In [ ]:
# Completa el código
for  in :
    print(f"Producto: {...}, Precio: ${...}")

## **<font color="DarkBlue">Ejercicio 13, ¿qué te parece?: 🍀 Filtrar Productos Caros 🍀</font>**

Tarea: Dada una lista de productos con sus precios, utiliza comprensión de listas para crear una lista de productos que cuestan más de $500.

In [ ]:
productos_precios = [("Laptop", 1000), ("Teléfono", 500), ("Tablet", 300)]

In [ ]:
# Completa el código
productos_caros = [producto for producto, precio in ... if ... > 500]

In [ ]:
# Completa el código
print()

<p align="center"><b>
💗
<font color="DarkBlue">
Hemos llegado al final de nuestra ejercitación en colab, a seguir ejercitando...
</font>
</p>