![umsa.png]()

 # **<font color="DarkBlue">Series de tiempo 🐼 </font>**

<p align="center">
<img src="https://pandas.pydata.org/static/img/pandas_mark.svg" width="50">
</p>

https://pandas.pydata.org/

 # **<font color="DarkBlue">Conversión de cadenas de texto</font>**

<p align="justify">
La conversión entre cadenas de texto (<code>str</code>) y objetos de fecha y hora (<code>datetime</code>) es una operación fundamental en el manejo de datos temporales.
<br><br>
Este proceso permite interpretar cadenas como fechas o convertir objetos de fecha y hora en cadenas con formatos específicos.
<br><br>
 Estas conversiones son esenciales en tareas como la lectura de datos de archivos, la generación de reportes y la normalización de datos para análisis.
<br><br>

<strong>1. Conversión de cadena a fecha y hora</strong><br>
La conversión de una cadena a un objeto <code>datetime</code> se realiza con la función <code>datetime.strptime()</code> del módulo <b>datetime</b>. Requiere dos parámetros:
<ul>
    <li><b>Cadena de texto:</b> Contiene la fecha y hora en un formato específico.</li>
    <li><b>Formato:</b> Especifica cómo interpretar la cadena, utilizando códigos de formato como <code>%Y</code> (año), <code>%m</code> (mes), y <code>%d</code> (día).</li>
</ul>
<br>

<strong>2. Conversión de fecha y hora a cadena</strong><br>
La conversión de un objeto <code>datetime</code> a una cadena se realiza con el método <code>datetime.strftime()</code>. Permite especificar el formato de salida utilizando los mismos códigos que <code>strptime()</code>.

<br>

<strong>3. Códigos de formato comunes:</strong>
<ul>
    <li><code>%Y</code>: Año en cuatro dígitos (ejemplo: 2024).</li>
    <li><code>%m</code>: Mes en dos dígitos (ejemplo: 01 para enero).</li>
    <li><code>%d</code>: Día del mes en dos dígitos (ejemplo: 15).</li>
    <li><code>%H</code>: Hora en formato de 24 horas (ejemplo: 14).</li>
    <li><code>%M</code>: Minutos (ejemplo: 30).</li>
    <li><code>%S</code>: Segundos (ejemplo: 45).</li>
</ul>

<br>

<strong>4. Manejo de errores</strong><br>
Si la cadena no coincide con el formato esperado, Python genera un error <code>ValueError</code>. Es importante validar o manejar adecuadamente las excepciones al trabajar con datos ingresados por el usuario.

<br>

<strong>5. Usos prácticos:</strong>
<ul>
    <li><b>Lectura de datos:</b> Convertir fechas en formato texto de archivos CSV o bases de datos a objetos <code>datetime</code> para su manipulación.</li>
    <li><b>Generación de reportes:</b> Formatear fechas y horas en cadenas personalizadas para su presentación en informes.</li>
    <li><b>Análisis temporal:</b> Realizar cálculos como diferencias entre fechas o agrupaciones por periodos.</li>
</ul>

<br>

La conversión entre cadenas y objetos de fecha y hora es una técnica esencial para trabajar con datos temporales, ofreciendo flexibilidad para transformar y utilizar la información de acuerdo a las necesidades del análisis o aplicación.
</p>

👀 Ejemplo:

In [ ]:
import pandas as pd
import plotly.express as px
from datetime import datetime

 ## **<font color="DarkBlue">Convirtiendo cadena a objeto datetime</font>**

In [ ]:
# Ejemplo 1: Convertir cadena a objeto datetime

cadena_fecha = "2024-11-15 10:30:45"
formato = "%Y-%m-%d %H:%M:%S"  # Año-Mes-Día Hora:Minutos:Segundos
fecha_hora = datetime.strptime(cadena_fecha, formato)
print("Cadena convertida a datetime:", fecha_hora)

Cadena convertida a datetime: 2024-11-15 10:30:45

In [ ]:
cadena_fecha

'2024-11-15 10:30:45'

In [ ]:
formato

'%Y-%m-%d %H:%M:%S'

In [ ]:
fecha_hora

datetime.datetime(2024, 11, 15, 10, 30, 45)

<p align="justify">
Este código convierte una cadena de texto con una fecha y hora en un objeto <code>datetime</code> utilizando el método <code>strptime()</code> del módulo <b>datetime</b>.
<br><br>
La variable <code>cadena_fecha</code> contiene una fecha y hora en formato de texto ("2024-11-15 10:30:45"), mientras que la variable <code>formato</code> especifica cómo se debe interpretar esta cadena.
<br><br>
El formato <code>%Y-%m-%d %H:%M:%S</code> indica que la cadena tiene el año en cuatro dígitos (<code>%Y</code>), seguido por el mes y el día en dos dígitos (<code>%m</code>, <code>%d</code>), y luego la hora, los minutos y los segundos también en dos dígitos (<code>%H</code>, <code>%M</code>, <code>%S</code>).
<br><br>
Al usar <code>strptime()</code>, la cadena se convierte en un objeto de tipo <code>datetime</code>, que luego se imprime mostrando la fecha y hora como un objeto datetime: <code>2024-11-15 10:30:45</code>.
</p>

In [ ]:
type(cadena_fecha)

str

In [ ]:
type(fecha_hora)

datetime.datetime

In [ ]:
type(cadena_fecha_formateada)

str

 ## **<font color="DarkBlue">Convirtiendo objeto datetime a cadena</font>**

In [ ]:
# Ejemplo 2: Convertir objeto datetime a cadena es diferente strftime

fecha_actual = datetime.now()
formato_salida = "%d/%m/%Y %H:%M:%S"  # Día/Mes/Año Hora:Minutos:Segundos
cadena_fecha_formateada = fecha_actual.strftime(formato_salida)
print("datetime convertido a cadena:", cadena_fecha_formateada)

datetime convertido a cadena: 15/11/2024 23:09:44

<p align="justify">
Este código convierte un objeto <code>datetime</code> en una cadena de texto utilizando el método <code>strftime()</code> del módulo <b>datetime</b>.
<br><br>
 Primero, la variable <code>fecha_actual</code> obtiene la fecha y hora actuales mediante el método <code>now()</code>, que devuelve un objeto <code>datetime</code> con la fecha y hora exactas del momento en que se ejecuta el código.
 <br><br>
 Luego, la variable <code>formato_salida</code> define el formato en el que se desea representar esta fecha como cadena: <code>%d/%m/%Y %H:%M:%S</code>, que corresponde a día, mes, año, hora, minutos y segundos.
 <br><br>
 Al aplicar <code>strftime()</code> con este formato, el objeto <code>datetime</code> se convierte en una cadena, que se almacena en <code>cadena_fecha_formateada</code>.
 <br><br>
 Finalmente, la cadena resultante se imprime, mostrando la fecha y hora en el formato deseado, por ejemplo: <code>15/11/2024 10:45:30</code>.
</p>

In [ ]:
type(fecha_actual)

datetime.datetime

In [ ]:
type(cadena_fecha_formateada)

str

In [ ]:
fecha_actual

datetime.datetime(2024, 11, 15, 20, 53, 13, 340832)

 ## **<font color="DarkBlue">Manejo de errores al convertir</font>**

In [ ]:
# Ejemplo 3: Manejo de error al convertir

cadena_incorrecta = "15-11-2024"  # Formato no coincide con "%Y-%m-%d"
try:
    fecha_erronea = datetime.strptime(cadena_incorrecta, "%Y-%m-%d")

except ValueError as e:
    print("Error al convertir la cadena:", e)

Error al convertir la cadena: time data '15-11-2024' does not match format '%Y-%m-%d'

<p align="justify">
Este código muestra cómo manejar un error al intentar convertir una cadena de texto que no sigue el formato esperado.
<br><br>
La variable <code>cadena_incorrecta</code> contiene la fecha "15-11-2024", la cual tiene un formato diferente al que se espera, que es <code>%Y-%m-%d</code> (Año-Mes-Día).
<br><br>
El intento de conversión se realiza mediante <code>datetime.strptime()</code>, pero como el formato de la cadena no coincide con el especificado, se genera una excepción <code>ValueError</code>.
<br><br>
Esta excepción se captura utilizando un bloque <code>try-except</code>, lo que permite manejar el error sin interrumpir la ejecución del programa. En caso de error, se imprime un mensaje que explica el problema, como en este caso: <code>Error al convertir la cadena: time data '15-11-2024' does not match format '%Y-%m-%d'</code>.
</p>

 ## **<font color="DarkBlue">Conversión y cálculo</font>**

In [ ]:
# Ejemplo 4: Conversión y cálculo

cadena_evento = "2024-11-15 08:00:00"
fecha_evento = datetime.strptime(cadena_evento, "%Y-%m-%d %H:%M:%S")
fecha_actual = datetime.now()

In [ ]:
cadena_evento

'2024-11-15 08:00:00'

In [ ]:
fecha_evento

datetime.datetime(2024, 11, 15, 8, 0)

In [ ]:
fecha_actual

datetime.datetime(2024, 11, 15, 23, 9, 44, 563230)

In [ ]:
# Calcular la diferencia en días entre dos fechas

diferencia = fecha_evento - fecha_actual
print(f"Diferencia hasta el evento: {diferencia.days} días, {diferencia.seconds // 3600} horas.")

Diferencia hasta el evento: -1 días, 11 horas.

<p align="justify">
Este código muestra cómo calcular la diferencia entre dos fechas utilizando objetos <code>datetime</code>.
<br><br>
La variable <code>cadena_evento</code> contiene la fecha y hora de un evento futuro ("2024-11-15 08:00:00") en formato de cadena. Esta cadena se convierte en un objeto <code>datetime</code> usando <code>datetime.strptime()</code>, con el formato especificado <code>%Y-%m-%d %H:%M:%S</code> (Año-Mes-Día Hora:Minutos:Segundos).
<br><br>
Luego, la variable <code>fecha_actual</code> obtiene la fecha y hora actuales mediante <code>datetime.now()</code>. La diferencia entre las fechas <code>fecha_evento</code> y <code>fecha_actual</code> se calcula restando un objeto <code>datetime</code> de otro, lo que da como resultado un objeto <code>timedelta</code>.
<br><br>
Este objeto contiene información sobre la diferencia en días (<code>diferencia.days</code>) y en segundos (<code>diferencia.seconds</code>). Finalmente, se imprime la diferencia en días y horas restantes, mostrando un mensaje como: <code>Diferencia hasta el evento: X días, Y horas.</code>.
</p>

 # **<font color="DarkBlue">Códigos de Formato</font>**

<table border="1" cellpadding="5">
  <tr>
    <td><b>Tipo</td>
    <td><b>Descripción</td>
  </tr>
  <tr>
    <td>%Y</td>
    <td>Año de cuatro dígitos</td>
  </tr>
  <tr>
    <td>%y</td>
    <td>Año de dos dígitos</td>
  </tr>
  <tr>
    <td>%m</td>
    <td>Mes de dos dígitos [01, 12]</td>
  </tr>
  <tr>
    <td>%d</td>
    <td>Día de dos dígitos [01, 31]</td>
  </tr>
  <tr>
    <td>%H</td>
    <td>Hora (reloj de 24 horas) [00, 23]</td>
  </tr>
  <tr>
    <td>%I</td>
    <td>Hora (reloj de 12 horas) [01, 12]</td>
  </tr>
  <tr>
    <td>%M</td>
    <td>Minuto de dos dígitos [00, 59]</td>
  </tr>
  <tr>
    <td>%S</td>
    <td>Segundo [00, 61] (los segundos 60, 61 representan los segundos intercalares)</td>
  </tr>
  <tr>
    <td>%f</td>
    <td>Microsegundo como un número entero, rellenado con ceros (de 000000 a 999999)</td>
  </tr>
  <tr>
    <td>%j</td>
    <td>Día del año como un entero rellenado con ceros (de 001 a 336)</td>
  </tr>
  <tr>
    <td>%w</td>
    <td>Día de la semana como un entero [0 (domingo), 6]</td>
  </tr>
  <tr>
    <td>%u</td>
    <td>Día de la semana como número entero comenzando desde 1, donde 1 es el lunes.</td>
  </tr>
  <tr>
    <td>%U</td>
    <td>Número de semana del año [00, 53]; el domingo se considera el primer día de la semana y los días anteriores al primer domingo del año son la “semana 0”</td>
  </tr>
  <tr>
    <td>%W</td>
    <td>Número de semana del año [00, 53]; el lunes se considera el primer día de la semana y los días anteriores al primer lunes del año son la “semana 0”</td>
  </tr>
  <tr>
    <td>%z</td>
    <td>Desplazamiento de zona horaria UTC como +HHMM o -HHMM; vacío si la zona horaria es ingenua</td>
  </tr>
  <tr>
    <td>%Z</td>
    <td>Nombre de la zona horaria como cadena o cadena vacía si no hay zona horaria</td>
  </tr>
  <tr>
    <td>%F</td>
    <td>Atajo para %Y-%m-%d (por ejemplo, 2012-4-18)</td>
  </tr>
  <tr>
    <td>%D</td>
    <td>Atajo para %m/%d/%y (por ejemplo, 04/18/12)</td>
  </tr>
</table>

 # **<font color="DarkBlue">Pandas to_datetime( )</font>**

<p align="justify">
La función <code>to_datetime()</code> de la biblioteca <b>Pandas</b> se utiliza para convertir una cadena de texto, una lista de cadenas, o incluso un objeto <code>datetime</code> a un objeto <code>datetime</code> de Pandas (que es una representación más eficiente y optimizada de los datos de tiempo en comparación con el tipo <code>datetime</code> estándar de Python).
<br><br>
Esta función es útil para garantizar que los datos de fecha y hora se interpreten correctamente, especialmente cuando los datos provienen de fuentes externas como archivos CSV o bases de datos, donde las fechas a menudo se almacenan como cadenas.
<br><br>
 Al convertir estas cadenas en objetos <code>datetime</code>, se pueden realizar operaciones de manipulación de fechas y horas, como el cálculo de diferencias entre fechas, filtrado por fechas, o la creación de nuevas columnas con valores derivados de fechas y horas.
 <br><br>
 La función <code>to_datetime()</code> también maneja una variedad de formatos de fecha y hora, y puede detectar automáticamente el formato en muchos casos. Si es necesario, también puede especificarse el formato de la fecha utilizando el parámetro <code>format</code>.
</p>

In [ ]:
# Definimos una lista de cadenas de fecha
fechas = ["2024-11-15", "2024-12-01", "2025-01-10"]

In [ ]:
type(fechas)

list

In [ ]:
# Convertimos la lista de cadenas a datetime con pandas.to_datetime
fechas_convertidas = pd.to_datetime(fechas)

In [ ]:
# Mostramos el resultado
print(fechas_convertidas)

DatetimeIndex(['2024-11-15', '2024-12-01', '2025-01-10'], dtype='datetime64[ns]', freq=None)

<br>
<br>
<p align="center"><b>
💗
<font color="DarkBlue">
Hemos llegado al final de nuestro colab de Pandas, a seguir codeando...
</font>
</p>