![umsa.png]()

 # **<font color="DarkBlue">Series de tiempo  </font>**

<p align="center">
<img src="https://pandas.pydata.org/static/img/pandas_mark.svg" width="50">
</p>

https://pandas.pydata.org/

 # **<font color="DarkBlue">Introducci贸n a Series de Tiempo en Pandas</font>**

<p align="justify">
Pandas ofrece un potente soporte para trabajar con datos temporales mediante el m贸dulo <b>Series de Tiempo</b>. Las Series de Tiempo son datos indexados por marcas de tiempo y son esenciales para el an谩lisis de datos cronol贸gicos. Estas marcas pueden ser espec铆ficas (como una fecha exacta) o abarcar rangos (como un mes o un a帽o).
<br><br>
Las principales funcionalidades incluyen:
<br><br>

1. **Creaci贸n de objetos temporales**: Utilizando <code>pd.date_range</code> o el constructor de 铆ndices de tiempo.
<br>
2. **Manipulaci贸n de 铆ndices de tiempo**: Permite realizar operaciones como re-muestreo, desplazamientos y alineaciones de datos temporales.
<br>
3. **Operaciones con frecuencias**: Pandas soporta m煤ltiples frecuencias, como diaria ('D'), mensual ('Me'), anual ('A'), entre otras.
<br>
4. **Manejo de zonas horarias**: Facilita la conversi贸n entre distintas zonas horarias.
<br>
5. **An谩lisis de datos temporales**: Es posible filtrar, agrupar y realizar c谩lculos espec铆ficos sobre ventanas de tiempo.

<br>
<p align="justify">
La combinaci贸n de estas funcionalidades permite un an谩lisis profundo de datos temporales, desde su limpieza y transformaci贸n hasta su visualizaci贸n y modelado.
</p>

 Ejemplo:

In [ ]:
import pandas as pd
import plotly.express as px

In [ ]:
# Crear una Serie de Tiempo con un rango de fechas

fechas = pd.date_range(start="2024-01-01", periods=10, freq="D")
datos = [10, 12, 15, 14, 16, 20, 22, 24, 26, 30]
serie_tiempo = pd.Series(data=datos, index=fechas)

In [ ]:
fechas

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# Operaciones b谩sicas

serie_tiempo.name = "Datos"
serie_tiempo

2024-01-01    10
2024-01-02    12
2024-01-03    15
2024-01-04    14
2024-01-05    16
2024-01-06    20
2024-01-07    22
2024-01-08    24
2024-01-09    26
2024-01-10    30
Freq: D, Name: Datos, dtype: int64

In [ ]:
# Re-muestreo a frecuencia semanal (suma de valores)

serie_semanal = serie_tiempo.resample("W").sum()
serie_semanal

2024-01-07    109
2024-01-14     80
Freq: W-SUN, Name: Datos, dtype: int64

In [ ]:
serie_tiempo

2024-01-01    10
2024-01-02    12
2024-01-03    15
2024-01-04    14
2024-01-05    16
2024-01-06    20
2024-01-07    22
2024-01-08    24
2024-01-09    26
2024-01-10    30
Freq: D, Name: Datos, dtype: int64

In [ ]:
# Desplazamiento temporal

serie_desplazada = serie_tiempo.shift(1)
serie_desplazada

2024-01-01     NaN
2024-01-02    10.0
2024-01-03    12.0
2024-01-04    15.0
2024-01-05    14.0
2024-01-06    16.0
2024-01-07    20.0
2024-01-08    22.0
2024-01-09    24.0
2024-01-10    26.0
Freq: D, Name: Datos, dtype: float64

In [ ]:
# Conversi贸n de zona horaria

serie_tz = serie_tiempo.tz_localize("UTC").tz_convert("America/Argentina/Buenos_Aires")
serie_tz

2023-12-31 21:00:00-03:00    10
2024-01-01 21:00:00-03:00    12
2024-01-02 21:00:00-03:00    15
2024-01-03 21:00:00-03:00    14
2024-01-04 21:00:00-03:00    16
2024-01-05 21:00:00-03:00    20
2024-01-06 21:00:00-03:00    22
2024-01-07 21:00:00-03:00    24
2024-01-08 21:00:00-03:00    26
2024-01-09 21:00:00-03:00    30
Freq: D, Name: Datos, dtype: int64

<p align="justify">
En Python, los m贸dulos <b>time</b>, <b>datetime</b>  y <b>calendar</b> proporcionan herramientas potentes para trabajar con fechas y horas. Estas herramientas permiten manejar datos cronol贸gicos de manera eficiente, siendo fundamentales en el an谩lisis de datos temporales.

 ## **<font color="DarkBlue">Time</font>**

<p align="justify">
   Este m贸dulo maneja representaciones basadas en tiempo, incluyendo la obtenci贸n de la hora actual, creaci贸n de retardos y manejo del tiempo en segundos desde la epoca (1970-01-01).
<br><br>   
   Es 煤til para medir tiempos de ejecuci贸n o crear temporizadores.

In [ ]:
import time

In [ ]:
# M贸dulo time: Obtener la hora actual en segundos

current_time = time.time()
print("Hora actual:", current_time)

Hora actual: 1731703995.1879828

In [ ]:
type(current_time)

float

In [ ]:
time.localtime().tm_year

2024

In [ ]:
time.localtime().tm_hour-3

18

In [ ]:
datos_tupla = time.localtime().tm_year, time.localtime().tm_mon, time.localtime().tm_mday, time.localtime().tm_hour-3, time.localtime().tm_min, time.localtime().tm_sec  ## lo puedo convertir en una fecha

In [ ]:
datos_tupla

(2024, 11, 15, 18, 46, 31)

In [ ]:
type(datos_tupla)

tuple

In [ ]:
time.sleep(10)
print("Programa pausado durante 10 segundos")

Programa pausado durante 10 segundos

In [ ]:
# Pausar el programa por 2 segundos
%%time
time.sleep(2)
print("Programa pausado durante 2 segundos")

Programa pausado durante 2 segundos
CPU times: user 12.8 ms, sys: 1.51 ms, total: 14.3 ms
Wall time: 2 s

 ## **<font color="DarkBlue">Datetime</font>**

<p align="justify">
   El m贸dulo <b>datetime</b> incluye clases como <code>datetime.datetime</code> para trabajar con fechas y horas, <code>datetime.date</code> para fechas espec铆ficas y <code>datetime.time</code> para manejar horas.
   <br><br>
   Permite realizar operaciones como c谩lculo de diferencias entre fechas, formateo y conversi贸n.

In [ ]:
import datetime

In [ ]:
# M贸dulo datetime: Crear una fecha y hora

fecha_hora = datetime.datetime(2024, 11, 15, 10, 30)
print("Fecha y hora:", fecha_hora)

Fecha y hora: 2024-11-15 10:30:00

In [ ]:
fecha = (2024, 11, 15, 10, 30)

In [ ]:
import datetime

# Assuming 'utc' refers to datetime.timezone.utc
utc = datetime.timezone.utc

fecha_hora_local = datetime.datetime(2024, 11, 15, 10, 30, tzinfo=utc)
print("Fecha y hora local:", fecha_hora_local)

Fecha y hora local: 2024-11-15 10:30:00+00:00

In [ ]:
datetime.datetime(time.localtime().tm_year, time.localtime().tm_mon, time.localtime().tm_mday, time.localtime().tm_hour-3, time.localtime().tm_min, time.localtime().tm_sec)  ## lo puedo convertir en una fecha

datetime.datetime(2024, 11, 15, 18, 54, 41)

In [ ]:
datetime.datetime.now()

datetime.datetime(2024, 11, 15, 22, 12, 2, 482049)

In [ ]:
import pytz
zona_buenos_aires = pytz.timezone('America/Argentina/Buenos_Aires')
fecha_hora_local = datetime.datetime.now(zona_buenos_aires)
print("Fecha y hora local:", fecha_hora_local)

Fecha y hora local: 2024-11-15 19:12:58.938280-03:00

In [ ]:
fecha_hora_local

datetime.datetime(2024, 11, 15, 19, 12, 58, 938280, tzinfo=<DstTzInfo 'America/Argentina/Buenos_Aires' -03-1 day, 21:00:00 STD>)

In [ ]:
fecha_hora_local.year

2024

<p align="justify">
El c贸digo presentado utiliza el m贸dulo <b>datetime</b> para crear un objeto que representa una fecha y hora espec铆fica:
<br><br>

1. **datetime.datetime**:
<br>
   Se refiere a la clase <code>datetime</code> dentro del m贸dulo <b>datetime</b>. Esta clase se utiliza para manejar fechas y horas completas (a帽o, mes, d铆a, hora, minuto, segundo y microsegundo).
<br><br>

2. **Par谩metros**:
<br>
   <code>datetime(2024, 11, 15, 10, 30)</code>:
   <ul>
       <li><b>2024</b>: A帽o.</li>
       <li><b>11</b>: Mes (noviembre).</li>
       <li><b>15</b>: D铆a.</li>
       <li><b>10</b>: Hora en formato de 24 horas.</li>
       <li><b>30</b>: Minutos.</li>
   </ul>
   El resultado es un objeto que representa el 15 de noviembre de 2024 a las 10:30 de la ma帽ana.

In [ ]:
type(fecha_hora)

datetime.datetime

In [ ]:
fecha_hora

datetime.datetime(2024, 11, 15, 10, 30)

In [ ]:
fecha_hora.year

2024

In [ ]:
ahora = datetime.datetime.now()
ahora

datetime.datetime(2024, 11, 15, 20, 53, 17, 452427)

<p align="justify">
El c贸digo utiliza el m贸dulo <b>datetime</b> para obtener la fecha y hora actuales en el momento de ejecuci贸n del programa:
<br><br>

1. **datetime.datetime.now()**:
<br>
   <code>datetime.now()</code> es un m茅todo de la clase <b>datetime</b>, que devuelve un objeto de tipo <code>datetime</code> representando la fecha y hora exactas en el momento. Este m茅todo utiliza la configuraci贸n local del sistema para determinar la zona horaria.

<br>

2. **Objeto devuelto**:
<br>
   El objeto <code>ahora</code> contiene informaci贸n detallada sobre:
   <ul>
       <li><b>A帽o</b>, <b>Mes</b>, <b>D铆a</b>: Representan la fecha actual.</li>
       <li><b>Hora</b>, <b>Minuto</b>, <b>Segundo</b>, <b>Microsegundo</b>: Representan la hora actual con alta precisi贸n.</li>
   </ul>
  Por ejemplo, si ejecutamos este c贸digo el 15 de noviembre de 2024 a las 15:45:30.123456, el valor de <code>ahora</code> ser谩:
   <br>
   <code>2024-11-15 15:45:30.123456</code>.

<br>

3. **Uso del comando ahora**:
<br>
   Simplemente escribir <code>ahora</code> en una celda de c贸digo muestra su contenido, que es la fecha y hora actuales en formato est谩ndar (<code>YYYY-MM-DD HH:MM:SS</code>).



Este c贸digo es especialmente 煤til para registrar marcas de tiempo (timestamps) en tareas como registro de eventos, control de logs, o an谩lisis temporal en tiempo real.
</p>

In [ ]:
ahora.year, ahora.month, ahora.day

(2024, 11, 15)

 ## **<font color="DarkBlue">Calendar</font>**

<p align="justify">
   <b>calendar</b> se utiliza para trabajar con calendarios. Permite generar calendarios en texto o HTML, determinar si un a帽o es bisiesto, y obtener datos como el primer d铆a de la semana o el n煤mero de semanas en un mes.
<br><br>

In [ ]:
import calendar

In [ ]:
# M贸dulo calendar: Generar un calendario mensual

calendario = calendar.month(2024, 11)
print(calendario)

   November 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [ ]:
type(calendario)

str

<p align="justify">
El c贸digo presentado utiliza el m贸dulo <b>calendar</b> para generar un calendario mensual en formato de texto:
<br><br>

1. **calendar.month(2024, 11)**:
<br>
   La funci贸n <code>calendar.month</code> genera un calendario para un mes espec铆fico en formato de texto. Los par谩metros son:
   <ul>
       <li><b>2024</b>: A帽o del calendario.</li>
       <li><b>11</b>: N煤mero del mes (noviembre en este caso).</li>
   </ul>
   Devuelve una cadena de texto que representa el calendario del mes indicado. Por defecto, los d铆as de la semana empiezan en lunes (seg煤n la configuraci贸n est谩ndar de Python).

<br>

2. **Variable calendario**:
<br>
   La variable <code>calendario</code> almacena la representaci贸n en texto del calendario generado por <code>calendar.month</code>. Por ejemplo, el calendario de noviembre de 2024 tendr谩 este aspecto:
   <br><br>
   <code>
      November 2024<br>
      Mo Tu We Th Fr Sa Su<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;2&nbsp;&nbsp;3<br>
        4&nbsp;&nbsp;5&nbsp;&nbsp;6&nbsp;&nbsp;7&nbsp;&nbsp;8&nbsp;&nbsp;9 10<br>
       11 12 13 14 15 16 17<br>
       18 19 20 21 22 23 24<br>
       25 26 27 28 29 30
   </code>

<br>

3. **print(calendario)**:
<br>
   La funci贸n <code>print</code> muestra en la salida el texto del calendario almacenado en <code>calendario</code>. Esto permite visualizar el mes con su estructura de d铆as alineados por semana.

In [ ]:
# Verificar si el a帽o 2024 es bisiesto

a帽o = 2024
es_bisiesto = calendar.isleap(a帽o)
print(f"\n驴El a帽o {a帽o} es bisiesto? {'S铆' if es_bisiesto else 'No'}")

驴El a帽o 2024 es bisiesto? S铆

In [ ]:
# Verificar si el a帽o 2023 es bisiesto

a帽o = 2023
es_bisiesto = calendar.isleap(a帽o)
print(f"\n驴El a帽o {a帽o} es bisiesto? {'S铆' if es_bisiesto else 'No'}")

驴El a帽o 2023 es bisiesto? No

 # **<font color="DarkBlue">Ejemplos</font>**

 <p align="justify">  El objeto <b>timedelta</b> del m贸dulo <code>datetime</code> representa una diferencia o duraci贸n entre dos fechas u horas. Es especialmente 煤til en aplicaciones de negocios para calcular plazos, vencimientos o intervalos entre eventos.
<br><br>
Una empresa necesita calcular la fecha de vencimiento de facturas emitidas, considerando un plazo de pago est谩ndar de 30 d铆as. Adem谩s, se determina si la fecha de vencimiento cae en fin de semana para ajustar al siguiente d铆a h谩bil.
</p>

In [ ]:
from datetime import datetime, timedelta

# Fecha de emisi贸n de una factura

fecha_emision = datetime(2024, 11, 15)
print("Fecha de emisi贸n:", fecha_emision)

Fecha de emisi贸n: 2024-11-15 00:00:00

In [ ]:
# Plazo de pago est谩ndar (30 d铆as)

plazo_pago = timedelta(days=30)
plazo_pago

datetime.timedelta(days=30)

In [ ]:
# Calcular la fecha de vencimiento

fecha_vencimiento = fecha_emision + plazo_pago
print("Fecha de vencimiento inicial:", fecha_vencimiento)

Fecha de vencimiento inicial: 2024-12-15 00:00:00

In [ ]:
fecha_emision.weekday()  ### cuenta desde 0 el lunes

4

In [ ]:
fecha_vencimiento.weekday()

3

In [ ]:
# Assuming you want to access the 'day' attribute of fecha_vencimiento:
fecha_vencimiento.day

# If you wanted to change the 'day' attribute of fecha_vencimiento, you could do this:
# (But this creates a new datetime object, it doesn't modify the original)
from datetime import timedelta
new_fecha_vencimiento = fecha_vencimiento + timedelta(days=5 - fecha_vencimiento.day) #Example: Change the day to the 5th

In [ ]:
new_fecha_vencimiento

datetime.datetime(2025, 1, 5, 0, 0)

In [ ]:
# Ajustar si el vencimiento cae en fin de semana

if fecha_vencimiento.weekday() >= 5:  # 5 = S谩bado, 6 = Domingo
    fecha_vencimiento += timedelta(days=(7 - fecha_vencimiento.weekday()))
    print("Fecha de vencimiento ajustada al siguiente d铆a h谩bil:", fecha_vencimiento)

Fecha de vencimiento ajustada al siguiente d铆a h谩bil: 2024-12-16 00:00:00

<p align="justify">
Si la factura se emite el 15 de noviembre de 2024, la fecha inicial de vencimiento ser铆a el 15 de diciembre de 2024. Si esta cae en un fin de semana, se ajustar谩 autom谩ticamente al lunes siguiente.
<br><br>
El c贸digo tambi茅n indica cu谩ntos d铆as faltan hasta el vencimiento.

In [ ]:
# Calcular d铆as restantes para el vencimiento

hoy = datetime.now()
dias_restantes = (fecha_vencimiento - hoy).days
print(f"D铆as restantes para el vencimiento: {dias_restantes} d铆as")

D铆as restantes para el vencimiento: 30 d铆as

<p align="justify"> 
El objeto <b>timedelta</b> tambi茅n es 煤til en c谩lculos de fechas complejos, como la gesti贸n de contratos en negocios. A continuaci贸n, se presenta un ejemplo m谩s elaborado:
<br><br>
Una empresa gestiona contratos de servicio con clientes. Cada contrato tiene:
<br>
<ul>
    <li>Una fecha de inicio.</li>
    <li>Una duraci贸n definida (en meses).</li>
    <li>Un per铆odo de gracia de 7 d铆as posterior a la fecha de vencimiento.</li>
</ul>
<br>
<p aling="justify">
El objetivo es calcular:
<ul>
    <li>La fecha de vencimiento del contrato.</li>
    <li>La fecha l铆mite incluyendo el per铆odo de gracia.</li>
    <li>Si la fecha l铆mite ya ha pasado o cu谩nto tiempo queda para su vencimiento.</li>
</ul>
</p>

In [ ]:
# Fecha de inicio del contrato

fecha_inicio = datetime(2024, 1, 15)
print("Fecha de inicio del contrato:", fecha_inicio)

Fecha de inicio del contrato: 2024-01-15 00:00:00

In [ ]:
# Duraci贸n del contrato en meses

duracion_meses = 12

In [ ]:
# Calcular la fecha de vencimiento (agregando meses)
# Suponiendo que los meses tienen en promedio 30 d铆as

fecha_vencimiento = fecha_inicio + timedelta(days=365)
print("Fecha de vencimiento del contrato:", fecha_vencimiento)

Fecha de vencimiento del contrato: 2025-01-14 00:00:00

In [ ]:
# Calcular la fecha de vencimiento (agregando meses)
# Suponiendo que los meses tienen en promedio 30 d铆as

fecha_vencimiento = fecha_inicio + timedelta(days=duracion_meses * 30)
print("Fecha de vencimiento del contrato:", fecha_vencimiento)

Fecha de vencimiento del contrato: 2025-01-09 00:00:00

In [ ]:
# Per铆odo de gracia (7 d铆as)

periodo_gracia = timedelta(days=7)
fecha_limite = fecha_vencimiento + periodo_gracia
print("Fecha l铆mite incluyendo per铆odo de gracia:", fecha_limite)

Fecha l铆mite incluyendo per铆odo de gracia: 2025-01-16 00:00:00

In [ ]:
from datetime import datetime, timedelta

# ... (rest of your code)

# Determinar estado actual del contrato

hoy = datetime.now() # Use datetime.now() instead of datetime.now()
if hoy > fecha_limite:
    print("El contrato ha vencido. Fecha l铆mite pasada.")
else:
    dias_restantes = (fecha_limite - hoy).days
    print(f"El contrato est谩 vigente. D铆as restantes para la fecha l铆mite: {dias_restantes}")

El contrato est谩 vigente. D铆as restantes para la fecha l铆mite: 61

In [ ]:
# Determinar estado actual del contrato
from datetime import datetime, timedelta
hoy = datetime.now()
if hoy > fecha_limite:
    print("El contrato ha vencido. Fecha l铆mite pasada.")
else:
    dias_restantes = (fecha_limite - hoy).days
    print(f"El contrato est谩 vigente. D铆as restantes para la fecha l铆mite: {dias_restantes}")

El contrato est谩 vigente. D铆as restantes para la fecha l铆mite: 61

In [ ]:
# Calcular penalizaci贸n por vencimiento (si aplica)

dias_vencidos = (hoy - fecha_limite).days if hoy > fecha_limite else 0
if dias_vencidos > 0:
    penalizacion_por_dia = 50  # Penalizaci贸n en d贸lares por d铆a de retraso
    penalizacion_total = dias_vencidos * penalizacion_por_dia
    print(f"Penalizaci贸n por {dias_vencidos} d铆as de retraso: ${penalizacion_total:.2f}")

In [ ]:
dias_vencidos

0

Si el contrato inici贸 el 15 de enero de 2024, los resultados ser铆an:

- Fecha de vencimiento: 15 de enero de 2025.
- Fecha l铆mite con gracia: 22 de enero de 2025.
- Si la fecha actual es 20 de noviembre de 2024, el contrato estar谩 vigente con 58 d铆as restantes para la fecha l铆mite.
- Si la fecha actual es 25 de enero de 2025, habr谩 una penalizaci贸n calculada por los d铆as de retraso.

<br>
<br>
<p align="center"><b>

<font color="DarkBlue">
Hemos llegado al final de nuestro colab de Pandas, a seguir codeando...
</font>
</p>